*{
    block-size: border-box;
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-family: 'Times New Roman';
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    color: #fff;
    font-family: 'Futura';
    font-size: 24px;
    line-height: 48;
    text-align: left;
    padding: 0 15px;
    display: list-item;
    line-height: 50px;
}

nav a{
    text-decoration: none;
    color: #fff;
}


#bg-switcher{
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    font-family: 'Times New Roman', 
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateY(-50%) translateX(-50%);
    margin: 0;
    z-index: 0;

}

.logo img{
    width: 900px;
    height: 238px;
}

.logo p{
    color: #fff;
    text-align: center;
    font-size: 45px;
    font-style: italic;
    font-weight: light;
    font-family: 'Futura';
}

@media (max-width: 745px){
    nav{
        display: none;
    }

    .logo img{
        width: 520px;
        height: 138px;
    }

    .logo p{
        font-size: 24px;
    }

}

#introduction{
    padding: 30px;
}

#introduction h2{
    color: #445FD3;
    font-family:'Futura';
    font-size:56px;
    font-weight:700;
    line-height:84px;
    margin:40px 0px;
    text-align:center;
}



.intro-top{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0px 0px 64px;
}

.intro-top img{
    width: 500px;
}

.intro-bottom{
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:center;
    margin:0px 0px 64px;
}

.intro-bottom img{
    width: 500px;
}

.intro-text {
    color:#333333;
    font-family:'Hiragino Kaku Gothic Pro';
    line-height:32px;
    margin:0px 50px;
    text-wrap: wrap;
}

.intro-top a{
    width: 170px;
    height: 40px;
    background-color: #445FD3;
    border-radius: 16px;
    color: #fff;
    font-family: 'Times New Roman';
    font-size:20px;
    font-weight:700;
    line-height:40px;
    margin:30px 165px 0px;
    text-align: center;
    display: inline-block;
}

.intro-bottom a{
    width: 170px;
    height: 40px;
    background-color: #F4C142;
    border-radius: 12px;
    color: #fff;
    font-family: 'Times New Roman';
    font-size:20px;
    font-weight:700;
    line-height:40px;
    margin:30px 165px 0px;
    text-align: center;
    display: inline-block;
}



@media (max-width: 1000px){
    .intro-top{
        flex-direction: column;
        gap: 16px;
    }

    .intro-bottom{
        flex-direction: column;
        gap: 16px;
    }

    
}

.wrap{
    width: 100%;
    height: 974px;
    position: relative;
}

canvas{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


#courses{
    padding: 30px;
    background-color: #D9E5F7;
}

#courses h2{
    color: #445FD3;
    font-family:'Futura';
    font-size:56px;
    font-weight:700;
    line-height:84px;
    margin:40px 0px;
    text-align:center;
}

#courses .contents{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: 0 50px 50px;
}

#courses .content{
    width: 240px;
    height: 340px;
    background-color:#ffffff;
    border-radius:8px;
    box-shadow:#6a8998 0px 1px 3px 0px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    padding:25px;
    align-items: center;
}

.content p{
    width: 190px;
    font-size: 14px;
    font-family: 'Hiragino Kaku Gothic Pro';
    padding: 20px 0px 0px;
    text-align: center;
    font-weight: bold;
}


.content a{
    width: 180px;
    border-radius: 12px;
    color: #fff;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight:bold;
    line-height:40px;
    margin:15px 5px 0px;
    text-align: center;
    display: inline-block; 
}


.content img{
    align-items:center;
    display:flex;
    justify-content:center;
    margin:0px 20px
}

.content .unity{
    width: 110px;
    height: 110px;
}

.contents .content:nth-child(1) a {
    background-color: #DE6D3C;
 }
.contents .content:nth-child(2) a {
    background-color: #57A7DA;
}
.contents .content:nth-child(3) a {
    background-color: #333333;
}
.contents .content:nth-child(4) a {
    background-color: #EA5F59;
}
.contents .content:nth-child(5) a {
    background-color: #F7D749;
}
.contents .content:nth-child(6) a {
    background-color: #EB7C47;
}
.contents .content:nth-child(7) a {
    background-color: #8BCCDB;
}

#images{
    padding: 30px;
}

.slick-initialized .slick-slider{
    padding: 100px;
}



#images h2{
    color: #445FD3;
    font-family:'Futura';
    font-size:56px;
    font-weight:700;
    line-height:84px;
    margin:40px 0px;
    text-align:center;
}

.slider img{
    width: 259px;
    height: 172px;
    margin: 0;
}



#access{
    padding: 30px;
}
  
#access h2{
    color: #445FD3;
    font-family:'Futura';
    font-size:56px;
    font-weight:700;
    line-height:84px;
    margin:40px 0px;
    text-align:center;
}

iframe{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

footer{
    color:#3d5cdb;
    font-family:'Futura';
    line-height:60px;
    text-align:center;
}